.deck-computer{
    display: flex;
    position: relative;
    margin: 10px 400px;
}
.deck-user{
    display: flex;
    position: fixed;
    margin: 280px 400px;
}
.card{
    padding: 5px;
}
.deck{
    position: fixed;
    left: 80%;
    top: 35%;
    padding: 5px;
}
#draw:hover{
    color: greenyellow;
    cursor: pointer;
}