*{
    background-color: rgb(9, 17, 29);
    color: white;
    font-family: Arial;
}
.table{
    float: left;
}
.table #computer{
    z-index: 1;
    position: fixed;
    font-size: 30px;
    top: 20vw;
    left: 15vw;
}
.table #user{
    z-index: 1;
    position: fixed;
    font-size: 30px;
    top: 20vw;
    left: 40vw;
}
.deck-computer{
    float: left;
    margin: 5vw -30vw;
}
.deck-user{
    float: left;
    margin: 20vw -30vw;
}
.deck{
    position: fixed;
    left: 90%;
}
.card{
    padding: 5px;
}