.sidenav{
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    padding-top: 20px;
}
.sidenav a, .sidenav span{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover, .sidenav span:hover{
    color: #f1f1f1;
    cursor: pointer;
}
#alert{
    position: absolute;
    top: 44%;
    left: 9%;
    width: 337px;
    height: 20px;
    margin: 10px auto 10px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    color: black;
}
.main{
    margin-left: 180px;
    font-size: 28px;
    padding: 0px 10px;
}
.level{
    width: 500px;
    background-color: #ddd;
}
table{
    text-align: center;
    border: 1px solid black;
    background-color: whitesmoke;
}
thead{
    font-weight: bold;
}
td{
    width: 100%;
}
td{
    border: 1px solid black;
}